<fieldset>
  <legend>Recent Test Runs</legend>
  <% if @recent.nil? || @recent.empty? %>
    <div class="row pl-3 mt-2 mb-2">
        <h5>You have not completed any tests yet.</h5>
    </div>
  <% else %>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Test Type</th>
                <th>Date</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <% @recent.each do |test| %>
                <tr class="clickable-row" data-href="<%= test_path(id: test.id, system_id: @system.id, test_type: test.class.name.underscore.gsub('_test', '')) %>" >
                    <td><%= test.class.name.underscore.split('_').collect{|c| c.capitalize}.join(' ').gsub('Fhir', 'FHIR').gsub('Ije', 'IJE') %></a></td>
                    <td><%= test.created_at.localtime.strftime("%m/%d/%Y %I:%M%p") %></td>
                    <td><%= test.score %>/100</td>
                </tr>
            <% end %>
        </tbody>
    </table>
  <% end %>
</fieldset>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>