<fieldset>
  <legend>Details</legend>
  <div class="row pl-3 mt-2">
    <h3><%= @system.name %></h3>
  </div>
  <div class="row pl-3 mt-2 mb-2">
    <h5><%= @system.notes %></h5>
  </div>
</fieldset>
