<script>
</script>
<%= render 'layouts/breadcrumbs', crumbs: {'Dashboard' => nil} %>
<div class="canary-full-width">
  <%= render 'systems/summary' %>
</div>
<div class="canary-full-width">
  <%= render 'systems/imports' %>
</div>
<div class="canary-full-width">
  <%= render 'systems/exports' %>
</div>
<div class="pb-3"></div>
