.canary-container {
  max-width: 1200px;
  width: 90%;
}

.center-inner-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-pad-no-marg {
  padding: 0;
  margin: 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.rjsf {
  flex: 1;
}

.c-li {
  margin: 10px 0;
}

.canary-no-padding {
  padding: 0;
}

.canary-full-width {
  flex: 1;
}

.canary-full-height {
  min-height: 100%;
  height: 100%;
}

.canary-nav-link {
  color: white !important;
  opacity: 1 !important;
}

a.canary-nav-link:hover {
  color: white !important;
  opacity: 0.5 !important;
}

a.canary-bc-link {
  color: #226891 !important;
  background-color: white;
}

a.canary-bc-link:visited {
  color: #226891 !important;
  background-color: white;
}

a.canary-bc-link:hover {
  color: #226891 !important;
  background-color: white;
}

a.canary-bc-link:active {
  color: #226891 !important;
  background-color: white;
}

fieldset {
  border: 1px solid $btn-secondary-border;
  padding-left: 1em;
  padding-right: 1em;
  width: inherit;
  margin-bottom: 1.75em;
  margin-top: 1em;
  padding-bottom: .5em;
  border-radius: $border-radius;
  display: block;
}

legend {
  padding-left: 0.20em;
  margin-left: -0.20em;
  padding-right: 0.20em;
  font-size: 1.6em;
  font-weight: medium;
  width: initial;
  border-bottom: none;
}

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}