<div class="mt-3">
  <nav class="breadcrumb canary-full-width">
    <% crumbs.each do |crumb, url| %>
      <% if url != nil %>
        <a href="<%= url %>" class="breadcrumb-item">
          <%= crumb %>
        </a>
      <% else %>
        <span class="breadcrumb-item active">
          <%= crumb %>
        </span>
      <% end %>
    <% end %>
  </nav>
</div>
